@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*,*::before,*::after{
  font-family: "Figtree", sans-serif;
}

:root{
  --aiPrimary:#e8000c;
  --aiSecondary:#f73489;
}